<div class="row">

  <div class="small-3 columns">
    <%= link_to 'Back', @listing, class: 'button tiny radius secondary right' %>
  </div>

</div>  
<% if current_user.id == @listing.user_id %>
	<h1>Editing listing</h1>
	<%= render 'form' %>
<% else %>
	<h1>Access Denied</h1>
<% end %>
