<div class="row">
  <div class="small-3 columns">
    <%= link_to 'Back', @user, class: 'button tiny radius secondary right' %>
  </div>
</div>  

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
