<% if @purchases.length == 0 %>
<h3> You have no purchases!</h3>
<% else %>
<h1>Purchased Listings</h1>
<% @purchases.each do |purchase| %>
<div class="row">
  <div class="small-5 columns">
    <% unless purchase.listing.location.photo_url.nil? %>
        <%= link_to image_tag(purchase.listing.location.photo_url), listing_path(purchase.listing) %><br /><br />
    <% end %>
  </div>
  <div class="small-7 columns">
    <span class="smallHeading"><strong><%= link_to purchase.listing.location.street_address, purchase.listing %></strong><br>
    <span class="smallSubHeading gray"><%= purchase.listing.space_type %></span><br><br>
  </div>
  <hr>
</div>
<% end %>
<% end %>