<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.date %></td>
        <td><%= link_to 'Show', purchase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

