
<div class="row">
  <div class="small-3 columns">
    <%= link_to 'Back', locations_path, class: 'button tiny radius secondary right' %>
  </div>
</div>  

<h1>Editing location</h1>
<%= render 'form' %>

